*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
 height: 100%;
 width: 100%;
 background-color: F8F8F8;
 position: relative;   
 padding-top: 1px;
}

#nav{
    height: 10vh;
    width: 100%;
    margin-top: 30px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'monument';
}

#nav h2{
    border-right: 2px solid black;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

#nav h2:nth-last-child(1){
    width: 10%;
}

#center{
    height: 90vh;
    width: 100%;
    position: relative;
    padding: 5vw;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position:20% 35%;
}

#overlay{
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.274);
    padding: 2vw;
    color: #fff;
backdrop-filter: blur(2px);
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#over1 h1{
     border-bottom: 2px solid #fff;
    font-family: monument;
    width: 100%;
    font-size:2.5vw ;
    font-weight: 600;
}

#over2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 0;
}

#scroll{
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
height: 100%;
width: 100%;
display: inline-block;
padding: 2vw;
animation-name: anime;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

#scroll img{
   margin: 1vw;
    height: 100%;
    border-radius: 50%;
   width: 15%;
   object-fit: cover;
   object-position: 30% 30% ;
}


@keyframes anime {
    from{
        transform: translate(0);
    }
    to
    {
        transform: translate(-100%);
    }
}

#alphabet{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    border-bottom: 2px solid #000;
      margin-right: 2vw;
}
   
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    padding: 0.6vw 0.8vw;
    border-radius: 50%;
    cursor: pointer;
   transition: all ease 0.2s;
}
  
h6:hover{
  border: 1px solid #000;
}


#page2{
    height: 100%;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1{
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: top;
    background-image: url(https://images.unsplash.com/photo-1620993208551-ec648b0468bb?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#page2-part2{
      height: 100%;
    width: 46%;
}

#page2-part2 img{
    height: 70%;
    width:100% ;
    object-fit: cover;
}

#page2-text{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-text h1{
    width: 30%;
   padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
}

#page2-text p{
    width: 70%;
 padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
}

#page3{
   height: 100%;
   width: 100%;
   position: relative;
   padding: 5vw 4vw;
}

#page3>h1{
text-align: center;
font-family: monument;
text-transform: uppercase;
font-size: 3vw;
margin-bottom: 5vh;
}


.elem{
    height: 18vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem img{
    height: 100px;
    width: 100px;
    position: absolute;
       border-radius: 50%;
       left: 12%;
       opacity: 0;
       object-fit: cover;
       object-position: top;
       transition: all ease 0.5s;
}

.elem .elem-part2{
    width: 40%;
}

.elem .elem-part2 h1{
    font-size: 2vw;
    font-weight: 500;
}

.elem-part2 h5{
    font-size: 1vw;
    font-weight: 600;
    text-transform: uppercase;
}
.elem h4{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 10%;
}

.elem:nth-last-child(1)
{
        border-bottom: 2px solid black;

}

.elem:hover img{
    opacity: 1;
    left: 30%;
}
